{% extends 'store/base.html' %}

{% block title %}Login | {% endblock %}

{% block content %}
<div class="row p-4 d-flex justify-content-center align-items-center">
    <div class="col-6 bg-light p-4">
        <h4 class="mb-6 text-center">Login</h4>
        <hr>
        <form action="." method="POST">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <h6>Username:</h6>
                {{ form.username }}
            </div>
 
            <div class="form-floating mb-3">
                <h6>Password:</h6>
                {{ form.password }}
            </div>

            {% if form.errors or form.non_field_errors %}
                <div class="mb-4 p-6 bg-danger text-white rounded">
                    {% for field in form %}
                        {{field.errors}}
                    {% endfor %}

                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <div class="d-flex justify-content-center align-items-center">
                <button class="btn btn-primary mb-6">Login</button>
            </div>
            <div class="d-flex justify-content-center align-items-center mt-2">
                <a href="{% url 'register' %}">¿No tienes cuenta? registrate aqui!</a>
            </div>
            

        </form>
    </div>
</div>
{% endblock %}